<div class="col-sm-12 col-md-6 col-lg-4" id={{_id}}>
  <div class="card shadow-sm" id={{_id}}>
    <div class="card-body" id={{_id}}>
      <h5>{{title}}</h5>
      <p class="card-text">{{content}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a
            class="btn btn-sm btn-outline-secondary"
            href="/notes/details/{{_id}}"
          >View</a>
          <a
            class="btn btn-sm btn-outline-secondary"
            href="/notes/edit/{{_id}}"
          >Edit</a>
        </div>
        <!--<small class="text-body-secondary">9 mins</small>-->
      </div>
    </div>
  </div>
</div>